<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>HNS Attendance System</title>

<link href="css/style.css" rel="stylesheet" type="text/css">

</head>
<body >
<div class="div_header" style="padding-top: 10px;">
	<div><img alt="" src="images/l.png" width="130px" height="125px" > </div>
	HNS Attendance System - Admin Pannel
</div>
<form action="login" method="post">
<table class="login_table">
	<tr>
		<td>
			Admin Name
		</td>
	</tr>
	<tr>		
		<td>
			<input type="text" name="txtname">
		</td>
	</tr>
	<tr>
		<td>
			Password
		</td>
	</tr>
	<tr>	
		<td>
			<input type="password" name="txtpass"> 
		</td>
	</tr>	
	<tr>
		<td>
			<input type="submit" value="LOGIN">
		</td>		
	</tr>
</table>
</form>
</body>
</html>